*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  background-color:rgb(30, 30, 30);
}

:root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
    margin-inline: 5vw;
}

img {
  width: 100%;
  max-width: 90vw;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}

main>div {
    margin-bottom: 5em;
}

h2,h3 {
    margin-block: 1em;
}
.flexbox{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.flexbox>div{
  margin: 5px;
  padding: 20px;
  font-size: 20px;
}

.nav a {
  text-decoration: none;
}

.nav>a {
  display: block;
  margin-bottom: 1em;
}

.nav:not(:hover) ul, .nav:not(:hover) ul {
  transform: scale(0);
}

.nav ul {
  transform: scale(1);
  transition: transform 0.4s linear;
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(30, 30, 30); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background:  rgb(71, 71, 71); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right,rgb(235, 204, 30),white) ;
}